<!DOCTYPE html>
<html lang="ko">
  <%- include('include/head', { title: '회원정보' })%>
  <body>
    <%- include('include/header') %>
    <h1>회원 정보</h1>

    <a href="/">HOME</a>

    <form name="form_profile">
      <label for="userid">ID</label>
      <input type="hidden" id="id" value="<%=data.id%>" />
      <!-- readonly: userid는 수정 불가능 (조건임) -->
      <input
        id="userid"
        type="text"
        name="userid"
        value="<%=data.userid%>"
        readonly
      /><br />

      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        name="name"
        value="<%=data.name%>"
        required
      /><br />
    </form>
  </body>
</html>
