<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/result.css" />
  </head>
  <body>
    <h1><span class="name"><%= userInfo.name %></span>님 마이페이지</h1>
    <br />
    <img
      src="/<%=profileInfo.path%>"
      alt="프로필 이미지"
      class="profile"
      width="200"
      height="200"
    />
    <br />
    <div class="user"><span>아이디</span> <span><%=userInfo.id%></span></div>
    <div class="user"><span>비밀번호</span><span><%=userInfo.pw%></span></div>
    <div class="user"><span>이름</span> <span><%=userInfo.name%></span></div>
    <div class="user"><span>나이</span> <span><%=userInfo.age%></span></div>
  </body>
</html>
